@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;    
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    line-height: 1.5;
}

#nav-bar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}
#nav-bar header{
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}
#nav-bar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#nav-bar li{
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%
}

#nav-bar a{
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer
}
.main-section{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px
}
.main-section header{
    text-align: left;
    margin: 0px;
    font-weight: 700;
    font-size: 40px;
}
.main-section section article{
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}


code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
footer p{
    text-align: center;
}
footer p a{
    font-size: 16px;
    /* display: block; */
    /* padding: 10px 30px; */
    color: #4d4e53;
    text-decoration: underline;
    cursor: pointer
}

@media (max-width: 1990px){
    .main-section header{
        font-size: 25px;
    }
    #nav-bar header{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 815px){
#nav-bar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
}
#nav-bar ul {
    border: 1px solid;
    height: 207px;
}
.main-section {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
}
}
